# name of your github action
name: BuildnPub_WLGate
# this will help you specify where to run 
on:
  push:
    branches:
    # this will run on the electron branch
      - master
  workflow_dispatch:

jobs:
  build_on_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@master
      with:
        node-version: 21
    - name: install dependencies
      run: npm install
    - name: build
      run: npm run make -- --platform linux --arch=x64
    - name: publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm run publish

  build_on_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@master
      with:
        node-version: 21
    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: setup appdmg
      run: |
        python3 -m pip install setuptools
        npm install -g appdmg@0.6.6
    - name: install dependencies
      run: npm install
    - name: build
      run: npm run make --arch=universal
    - name: publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm run publish


  build_on_win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@master
      with:
        node-version: 21
    - name: install dependencies
      run: npm install
    - name: build
      run: npm run make
    - name: publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm run publish
